name: Test with pytest
# on: push
on: [repository_dispatch, workflow_dispatch]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.12'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Perform package installs
        run: >-
          pip install
          .
          pytest
          pytest-cov
      - run: |
          pytest
    env:
      COLUMNS: '254'
      LC_CTYPE: C.UTF-8
      LINES: '62'
      TERM: xterm
