name: Test with pytest

# on:
#   pull_request:
#   push:
on: [repository_dispatch, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.11", "3.12"]  # no particular need for 3.9 or 3.10
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871  # v4.2.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d  # v4.6.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: >-
        python -m pip install
        --upgrade
        --disable-pip-version-check
        pip
    - name: Perform package installs
      run: >-
        pip install
        .
        pytest
        pytest-cov
    - name: Test with pytest
      run: pytest